@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');


body{
	background: linear-gradient(red,black,red,black,red,black,red,black,red);
	font-family: 'Gloria Hallelujah', cursive;
	
}
h1{
	color:white;
	text-align:center;
}
img{
	
	max-width: 300px
}
p{
	color:white;
}
header{
	text-align:center;
	color:black;
}
footer{
	text-align:center;
}